#temperatureLayout {
  position: absolute;
  top: 35%;
  left: 30%;
  transform: translate(-50%, -50%);
}

#bottomLayout {
  position: absolute;
  left: 10px;
  top: 70px;
}

#temperatureContent {
  -webkit-transform: rotate(90deg);
  font-size: 15em;
  font-family: 'Nunito', sans-serif;
}

#bottomContent {
  -webkit-transform: rotate(90deg);
  font-size: 2em;
  font-family: 'Nunito', sans-serif;
}
